// 引入 Antd 样式表
@import '~antd/dist/antd.css';

// 修改 Antd 标题字体大小和颜色
@heading-color: #333;
@font-size-base: 16px;

// 修改 Antd 主色调
@primary-color: #ff9900;

// 修改一些常用样式，如按钮、表单、卡片等
.ant-btn {
  font-size: 16px;
}

.ant-form-item-label {
  padding: 0 12px;
}

.ant-card {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
}
