// 修改 Antd 主色调
@primary-color: #ff9900;

// 按钮颜色
@btn-primary-color: #ff9900;

// 修改dumi主题色
@c-primary: #ff9900;

// 修改一些常用样式，如按钮、表单、卡片等
.ant-btn {
  font-size: 14px;
}

.ant-btn-primary {
  background-color: @btn-primary-color;

  &:hover {
    background-color: @btn-primary-color !important;
  }
}
